.App {
  text-align: center;
}

.App a {
  color: #ffffff;
  text-decoration: none;
}

.App a:hover {
  color: #ccc;
}

.App-header {
  background-color: #282c34;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.app-body {
  padding: 30px;
}

